@import "colors";

.createNoteButton2 {
    cursor: pointer;
    border: solid $mainColorLight;
    border-width: 2px 2px 0 0;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.createNoteIcon {
    height: 30px;
    width: 30px;
    padding: 9px;
}

.appContainer {
    height: calc(100% - 70px);
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-rows: auto 50px;
}
