@import "colors";

.createNoteButton2 {
    cursor: pointer;
    border: solid $mainColorLight;
    border-width: 2px 2px 0 0;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

.createNoteIcon {
    height: 30px;
    width: 30px;
    padding: 9px;
}

.fillGrid {
    grid-row-start: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.notesLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notesLoadingText {
    text-align: center;
    font-weight: 700;
}

.errorText {
    color: $redColor;
}
