@import "colors";

.createNoteIcon {
    height: 30px;
    width: 30px;
    padding: 9px;
}

.fillGrid {
    grid-row-start: span 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

.notesLoading {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.notesLoadingText {
    text-align: center;
    font-weight: 700;
}

.errorText {
    color: $redColor;
}
