.noteEditor {
    height: 100%;
    clear: both;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.textEditorArea {
    height: 100%;
    width: 100%;
    border: none;
    overflow: auto;
    outline: none;
    box-shadow: none;
    resize: none;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    display: block;
}

.noNoteSelectedContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.noNoteSelected {
    text-align: center;
}

.noNoteText {
    font-size: 18px;
}

.createNoteButton {
    margin: 15px;
}
