@import "colors";

.noteList {
    padding: 5px;
    border-right: 2px solid $mainColorLight;
    flex: 1;
    overflow: auto;
}

.noNotesText {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
