@import "colors";

.noteActionList {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    display: flex;
    border-top: 2px solid $mainColorLight;
}

.noteActionList {
    color: darken($mainColorDark, 20%);
}

.noteActionList.disabled {
    color: $mainColorLight;
    cursor: not-allowed;
}

.noteActionList.disabled .noteActionIcon {
    cursor: not-allowed;
}
