@import "colors";
@import "sizes";

.noteActionList {
    grid-area: noteActions;
    display: flex;
    border: solid $mainColorLight;
    border-width: 2px 0 0 2px;
}

@media screen and (max-width: $smallWindow) {
    .noteActionList {
        justify-content: center;
    }
}

@media screen and (min-width: $bigWindow) {
    .noteActionList {
        border-width: 2px 2px 0 2px;
    }
}

.noteActionList {
    color: darken($mainColorDark, 20%);
}

.noteActionList.disabled {
    color: $mainColorLight;
    cursor: not-allowed;
}

.noteActionList.disabled .actionIcon {
    cursor: not-allowed;
}
