@import "colors";
@import "sizes";

.noteList {
    padding: 5px;
    border-right: 2px solid lighten($mainColorLight, 12%);
    flex: 1;
    overflow-y: scroll;
    grid-area: list;
    transition: left 1s;
}

@media screen and (max-width: $smallWindow) {
    .noteList {
        position: fixed;
        top: 80px;
        width: 300px;
        left: -330px;
        bottom: 50px;
        background-color: white;
    }

    .noteList.open {
        left: 0;
    }
}

@media screen and (min-width: $mediumWindow) {
    .noteList {
        justify-content: center;
        display: flex;
        flex-flow: wrap;
    }
}

.noNotesText {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
