@import "colors";

.noteContainer {
    padding: 20px 0 20px 5px;
    background-color: $mainColorLight;
    margin: 5px;
    cursor: pointer;
    border: 2px solid transparent;
}

.noteContainer.active {
    background-image: linear-gradient(to right, $mainColorLight, $mainColorLightAlt);
    border: 2px solid darken($mainColorLight, 10%);
}

.noteContainer:hover {
    background-color: lighten($mainColorLight, 9%);
}

.noteName, .noteNameInput {
    margin: 2px 0 0 10px;
    font-size: 17px;
    color: $mainColorDark;
}

.noteName {
    margin-bottom: 2px;
}

.noteContainer.active .noteName {
    font-weight: bold;
}

.noteNameInput {
    height: 20px;
    border: solid white;
    border-width: 0 0 2px 0;
    background-color: transparent;
    padding: 0;
    outline: none;
}
