.noteContainer {
    padding: 20px 0 20px 5px;
    background-color: #9DD9D2;
    margin: 0 5px 5px 5px;
    cursor: pointer;
}

.noteContainer:hover {
    background-color: #b4e6df;
}

.noteContainer:hover input {
    background-color: #b4e6df;
}

.noteName, .noteNameInput {
    margin: 2px 0 0 10px;
    font-size: 17px;
    color: #006d71;
}

.noteName {
    margin-bottom: 2px;
}

.noteNameInput {
    height: 20px;
    border: solid white;
    border-width: 0 0 2px 0;
    background-color: #9DD9D2;
    padding: 0;
    outline: none;
}
