@import "colors";

.noteList {
    padding: 5px;
    border-right: 2px solid lighten($mainColorLight, 12%);
    flex: 1;
    overflow-y: scroll;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.noNotesText {
    font-weight: bold;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
